<%- include("partials/header") -%>
    <div class="content">
        <h1 style='text-align: center'>detailed explanation of vignettes</h1>
        <p style='text-align: center'>This is where we will have a more detailed explanation of the study process.</p>
        <div style="text-align:center">
            <a href="./case/<%=id%>">Continue</a>
        </div>
    </div>
    <%- include("partials/footer") -%>