<%- include("partials/header") -%>
    <div class="content">
        <h1 style='text-align: center'>Consent/explanation</h1>
        <p style='text-align: center'>This is where we will have an explanation about the experiement and option to
            provide
            consent. Do you consent to taking part in this study?</p>
        <div style="text-align:center" class="row">
            <div class="col align-self-center">
                <a href="./caseDetail" class="middle">Yes</a>
            </div>
            <div class="col align-self-center">
                <a href="./caseWel" class="middle">No</a>
            </div>
        </div>
    </div>
    </div>
    <%- include("partials/footer") -%>