<%- include("partials/header") -%>
    <div class="content">
        <h1 style="text-align: center">Welcome!</h1>
        <p style="text-align: center">experiment intro here</p>
        <div style="text-align:center">
            <a href="/caseAbout">Continue</a>
        </div>
    </div>

    <%- include("partials/footer") -%>